.muteButton {
  position: relative;
  width: var(--player-widget-button-size);
  height: var(--player-widget-button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: #000;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--player-widget-button-bg-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    opacity: var(--player-widget-opacity);
    z-index: -1;
  }

  &:hover {
    &:before {
      background-color: var(--player-widget-button-hover);
    }
  }

  svg {
    width: calc(var(--player-widget-button-size) - (var(--player-widget-button-size) / 1.7));
    height: calc(var(--player-widget-button-size) - (var(--player-widget-button-size) / 1.7));
  }
}
