:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.demo-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.player-wrapper-dark {
  padding: 1.5rem;
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background: url(https://app.tunio.ai/api/d/image/streamer.webp);
}

.player-wrapper-light {
  padding: 1.5rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  h2 {
    color: #000;
  }
}

.player-wrapper-color {
  padding: 1.5rem;
  background-color: #3083c7;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  h2 {
    color: #000;
  }
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  opacity: 0.8;
}
